.about-bio {
    line-height: 1.7em;
}
.skills{
    color: $textColor;
    margin-top: 40px;
    h3 {
        color: $blueColor;
    }
    .tech-skills {
        margin-bottom: 40px;
        h3 {
            color: $blueColor;
        }
        ul {
            columns: 2;
            line-height: 1.7em;
        }
    }

    .design-skills{
        h3 {
            color: $blueColor;
        }
        ul {
            line-height: 1.7em;
        }
    }
}

@media(min-width: $desktopBreakpoint){
    .about-content {
        display: flex;
        .about-bio {
            max-width: 700px;
            margin-right: 90px;
        }

        .skills {
            margin-top: 0;
    
            .tech-skills{
                ul {
                    width: 300px;
                }
            }
        }
    }
}