.thumbnail {
    margin-bottom: 100px;
    position: relative;
    .thumbnail-img {
        @include img-container();
    }

    .tags {
        display: flex;
        p {
            background-color: $blueShade;
            text-align: center;
            border-radius: 50px;
            padding: 5px 20px;
            margin-right: 20px;
            font-size: .8em;
            margin-bottom: 30px;
        }
    }

    .desc {
        font-weight: 300;
        font-size: 1.1em;
    }


    .more-details-link {
        @include main-btn();
        margin: 0;
        
    }
}

@media(min-width: $desktopBreakpoint){
    .thumbnail{
        display: flex;
        margin-bottom: 150px;

        &:nth-child(odd){
            flex-direction: row-reverse;
        }

        .thumbnail-img {
            margin: 0 30px;
            width: 550px;
            height: 350px;
            flex-grow: 2;
                transition: transform 0.5s; 
            &:hover {
                transform: scale(1.02);
            }

        }

        .project-content{
            flex-grow: 1;
            width: 400px;
            margin: 20px 10px;
            margin-bottom: 0;
            .title {
                font-size: 2em;
            }

            // on hover animation -> https://codepen.io/martinwolf/pen/eNNdme
            .more-details-link {
                display: inline-block;
                border: none;
                padding: 10px 0;
                &::after {
                    content: '';
                    margin-top: 10px;
                    display: block;
                    width: 55px;
                    height: 3px;
                    background: $blueColor;
                    transition: width .3s;
                }
                &:hover::after {
                    width: 100%;
                    //transition: width .3s;
                }
            }
        }
    }
}

