// colors
$bgColor: #111822;
$navColor: #151E29;
$blueShade:#1E2C3C;
$blueColor: #84DCCF;
$textColor: #F6F6F6;

// breakpoints
$tabletBreakpoint: 650px;
$tabletLargeBreakpoint: 850px;
$desktopBreakpoint: 1200px;
$desktopLargeBreakpoint: 1600px;