.project-page {
    padding-top: 20px;
    width:80%;
    margin: 0 auto;
}

.back-to-home a {
    color: $blueColor;
    text-decoration: none;
    position: relative;
    z-index: 999;
    padding: 10px;
    svg {
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
    
}

.single-project {
    position: relative;

    .content {
        p , li{
            line-height: 1.7em;
        }
        hr{
            margin-bottom: 20px;
        }

        section {
            margin-bottom: 70px;

            h2 {
                font-size: 1.3em;
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .project-headings {
            text-align: center; 
            p {
                @include projectShortDesc();
            }

        }

        .feat-img-placeholder {
            height: 50vh;
            border-radius: 10px;
            position: relative;
            margin-top: 50px;
            h3 {
                color: #BCC8DC;
                opacity: 0.7;
                font-size: 1.9em;
                font-weight: bold;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .project-buttons {
            text-align: center;
            margin: 50px 0;
            
                a{
                    &:first-of-type{
                        @include main-btn();
                        background-color: $blueColor;
                        color: $bgColor;
                        padding: 10px 20px;
                    }

                    &:last-of-type{
                        @include main-btn();
                        padding: 10px 20px;
                    }

                    button {
                        margin: 0 20px;
                    }
                }
            
        }

        .screenshot-container{
            background-color: $blueShade;
            text-align: center;
            img {
                width:83%;
                margin:30px;
            }
            .colour-scheme{
                display: flex;
                justify-content: center;
                .dot {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 20px;
                    margin-top: 80px;
                  }

            }
        }
    }
    
}

@media(min-width: $tabletBreakpoint){
    .project-page{
        max-width: 600px;
    }
    .back-to-home {
        position: fixed;
        z-index: 999;
    }
    .project-landing {
        margin-bottom: 50px;
        padding-top: 40px;
    }
}

@media(min-width: $desktopBreakpoint){
    .project-page {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        margin-bottom: 0px;
    }

    .project-container {

        .project-content{
            padding:0 90px;
            max-width: 1400px;
            margin: 0 auto;
        }
        .project-landing {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 20px;
            margin-bottom: 70px;
        }

        .group{
            display: flex;
            .project-members{
                margin-left: 300px;
            }
            .project-overview{
                max-width: 550px;
                margin-right: 150px;
            }
        }

    }
}

@media(min-width: $desktopLargeBreakpoint){
    .back-to-home a {
        svg {
            margin-top: 10px;
            width: 70px;
            height: 70px;
        }
        
    }
}